<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Resources
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/textbook">Textbook</a>
      <a href="/formalwear">Formal Wear</a>
      <a href="/winterwear">Winter Wear</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>

<div id="winterwear">
  <h2>Winter Wear</h2>

  {{#unless winterwear}}
    <p>Sorry, no Winter Wear. :(</p>
  {{else}}
    <div class="grid-container" id="winterwear">
      {{#each winterwear}}
      <div>
        <h1>{{this.name}}</h1>
        <h2>{{this.description}}</h2>
        <p>ID: {{this.id}} & SKU: {{this.sku}}</p>
        <button class="request" id="winterwear-request">Request</button>
        <a href="./winterwear/{{this.id}}/edit"><button class="button" id="winterwear-edit">Edit</button></a>
      </div>
      {{/each}}
      <div>
        <a href="./winterwear/new"><button class="button" id="winterwear-new">+</button></a>
      </div>
    </div>
  {{/unless}}

</div>
</div>


<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h1>Submit a request form.</h1>
          <form id="request">
            <div>
              <label for="fname">First name:</label>
              <input type="text" id="fname" name="fname" placeholder="Enter your first name" required>
            </div>
            <div>
              <label for="lname">Last name:</label>
              <input type="text" id="lname" name="lname" placeholder="Enter your last name" required>
            </div>
            <div>
              <label for="email">Davidson Email Address:</label>
              <input type="text" id="email" name="email" placeholder="Enter your Davidson email address" required>
            </div>
            <div>
            <button class="button" type="submit">Submit Request</button>
            </div>
          </form>
    </div>
</div>

<script>
  var modal = document.querySelector(".modal");
  var request = document.querySelector(".request");
  var closeButton = document.querySelector(".close-button");

  function toggleModal() {
      modal.classList.toggle("show-modal");
  }

  request.addEventListener("click", toggleModal);
  closeButton.addEventListener("click", toggleModal);
  window.addEventListener("click", windowOnClick);
</script>
